<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pracownicy - Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h1>Pracownicy (Admin View)</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>PESEL</th>
      <th>Płeć</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pracownik : ${pracownicy}">
      <td th:text="${pracownik.idPracownika}"></td>
      <td th:text="${pracownik.imie}"></td>
      <td th:text="${pracownik.nazwisko}"></td>
      <td th:text="${pracownik.pesel}"></td>
      <td th:text="${pracownik.plec}"></td>
      <td>
        <!-- Delete button -->
        <form th:action="@{/admin/pracownicy/{id}(id=${pracownik.idPracownika})}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <a href="/admin/main" class="btn btn-secondary">Return to Admin Page</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
